{% extends 'base.html' %}
{% block content %}
    <div id="container">
    <h1>All Books</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Series</th>
                <th scope="col">Title</th>
                <th scope="col">Subtitle</th>
                <th scope="col">Slug</th>
                <th scope="col">Author</th>
            </tr>
        </thead>
        <tbody>
            {% for book in book_list %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.series }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.subtitle }}</td>
                    <td><a target="_blank" href="http://localhost:8000/admin/dystopia/book/{{ book.id }}/change/">{{ book.slug }}</a></td>
                    <td>{{ book.author }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
