{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <h1>All Series</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Slug</th>
                <th scope="col">Author</th>
            </tr>
        </thead>
        <tbody>
            {% for series in series_list %}
                <tr>
                    <td>{{ series.id }}</td>
                    <td>{{ series.title }}</td>
                    <td><a target="_blank" href="http://localhost:8000/admin/dystopia/series/{{ series.id }}/change/">{{ series.slug }}</a></td>
                    <td>{{ series.author }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
