{% extends 'base.html' %}
{% block content %}
    <div id="container">
        <h1 style="text-align:center">Books by {{ author.first_name_last_name }}</h1>
        <table class="table table-striped caption-top">
            <thead>
                <tr>
                    <th scope="col">Suggested Order</th>
                    <th scope="col">Title</th>
                    <th scope="col">Length</th>
                    <th scope="col">Buy</th>
                </tr>
            </thead>
            <tbody>
                {% for book in book_list %}
                    <tr>
                        <td>{{ book.reading_order }}</td>
                        <td>{{ book.title_and_subtitle }}</td>
                        <td>{{ book.length }}</td>
                        <td><a class="btn btn-warning btn-sm" target="_blank" href="{{ book.amazon_short_link }}">Amazon</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
