{% extends 'base.html' %}
{% block meta %}
    <meta name="description" content="The home of vampire fiction. We have vampire books and vampire book series.">
{% endblock %}
{% block title %}Bloodsucker Books{% endblock %}
{% block content %}
    <div class="container">
    <h2>Authors Starting with {{ letter }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Number of Series</th>
                <th scope="col">Number of Books</th>
            </tr>
        </thead>
        <tbody>
            {% if author_list %}
                {% for author in author_list %}
                    <tr>
                        <td><a href="{% url 'author_detail' author.slug %}">{{ author.first_name_last_name }}</a></td>
                        <td>{{ author.number_of_series }}</td>
                        <td>{{ author.number_of_books }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>Sorry, no authors have a last name that begins with the letter {{ letter }}.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    </div>

{% endblock %}
