<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vampire Books{% endblock %}</title>

    <!-- Bootstrap CSS -->
    {% include "bootstrap_css.html" %}
    <style>
        #navigation {
            background-color: black;
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        #container {
            margin: 50px;
            padding: 10px;
            border: 12px solid #ffa949;
            border-radius: 30px;
        }
    </style>
</head>
<body>
    <div id="navigation">
        {% include "series_dropdown.html" %}
        {% include "author_dropdown.html" %}
        {% include "book_dropdown.html" %}
    </div>

    <div id="debug">
        <a href="/admin-author-list/">Authors</a>
        <a href="/admin-book-list/">Books</a>
        <a href="/admin-series-list/">Series</a>
    </div>

    <div id="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap JS -->
    {% include "bootstrap_js.html" %}
</body>
</html>