{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>Books starting with {{ letter }}</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                </tr>
            </thead>
            <tbody>
                {% if page_obj %}
                    {% for book in page_obj %}
                        <tr>
                            <td><a href="{% url 'book_detail' book.slug %}">{{ book.title }}</a></td>
                            <td><a href="{% url 'author_detail' book.author.slug %}">{{ book.author.first_name_last_name }}</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <td>Sorry, we have no book beginning with the letter {{ letter }}.</td>
                {% endif %}
            </tbody>
        </table>
        {% include "pagination.html" %}
    </div>
{% endblock %}
