{% extends 'base.html' %}
{% block content %}
        <div id="container">
    <h1>Books With No Amazon Link</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Series</th>
                <th scope="col">Book Title</th>
                <th scope="col">Edit Series</th>
                <th scope="col">Edit Book</th>
            </tr>
        </thead>
        <tbody>
            {% for book in book_list %}
                <tr>
                    <td>{{ book.series }}</td>
                    <td>{{ book.title }}</td>
                    {% if book.series %}
                        <td><a target="_blank" href="http://localhost:8000/admin/dystopia/series/{{ book.series_id }}/change/">Edit Series</a></td>
                    {% else %}
                        <td>No Series</td>
                    {% endif %}
                    <td><a target="_blank" href="http://localhost:8000/admin/dystopia/book/{{ book.id }}/change/">Edit Book</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
{% endblock %}
