{% extends 'base.html' %}
{% block content %}
    <div id="container">
    {% if book.subtitle %}
        <p>Title: {{ book.title }}: {{ book.subtitle }}</p>
    {% else %}
        <p>Title: {{ book.title }}</p>
    {% endif %}
    <p>Author: {{ book.author.first_name_last_name }}</p>
    <p>Series: {{ book.series }}</p>
    <p>Length: {{ book.length }}</p>
    {% if book.amazon_short_link %}
        <td>
            <a class="btn btn-warning btn-sm" target="_blank" href="{{ book.amazon_short_link }}">Amazon</a>
        </td>
    {% endif %}
    </div>
{% endblock %}
