{% extends 'base.html' %}
{% block content %}
<div class="homepage-div">
    <div class="random-list-container">
        <h2>Random Authors</h2>
        <ul class="random-list">
            <li>Random Author</li>
            <li>Random Author</li>
            <li>Random Author</li>
            <li>Random Author</li>
            <li>Random Author</li>
        </ul>
    </div>
    <div class="random-list-container">
        <h2>Random Books</h2>
        <ul class="random-list">
            <li>Random Author</li>
            <li>Random Author</li>
            <li>Random Author</li>
            <li>Random Author</li>
            <li>Random Author</li>
        </ul>
    </div>
    <div class="random-list-container">
        <h2>Random Series</h2>
        <ul class="random-list">
            <li>Random Author</li>
            <li>Random Author</li>
            <li>Random Author</li>
            <li>Random Author</li>
            <li>Random Author</li>
        </ul>
    </div>
</div>
{% endblock %}
