<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bloodsucker Books</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% include "author_dropdown.html" %}
            {% include "series_dropdown.html" %}
            {% include "book_dropdown.html" %}
            {% if user.is_authenticated %}
                {% include "reports_dropdown.html" %}
            {% endif %}
            <span class="navbar-text">
                The Home of Vampire Fiction
            </span>
        </div>
    </div>
</nav>