<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">Admin Reports</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin-author-list/">All Authors</a><br></li>
            <li><a class="dropdown-item" href="/admin-book-list/">All Books</a><br></li>
            <li><a class="dropdown-item" href="/admin-series-list/">All Series</a><br></li>
            <li><a class="dropdown-item" href="/series-book-totals/">Series Book Totals</a><br></li>
            <li><a class="dropdown-item" href="/books-without-amazon-link/">Books With No Amazon Link</a></li>
        </ul>
    </li>
</ul>