<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="books" data-bs-toggle="dropdown" aria-expanded="false">Reports</button>
    <ul class="dropdown-menu" aria-labelledby="books">
        <li><a class="dropdown-item" href="/admin-author-list/">All Authors</a><br></li>
        <li><a class="dropdown-item" href="/admin-book-list/">All Books</a><br></li>
        <li><a class="dropdown-item" href="/admin-series-list/">All Series</a><br></li>
        <li><a class="dropdown-item" href="/series-book-totals/">Series Book Totals</a><br></li>
        <li><a class="dropdown-item" href="/books-without-amazon-link/">Books With No Amazon Link</a></li>
    </ul>
</div>
