<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Search by Series Title</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav2">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-A/">A</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-B/">B</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-C/">C</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-D/">D</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-E/">E</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-F/">F</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-G/">G</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-H/">H</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-I/">I</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-J/">J</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-K/">K</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-L/">L</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-M/">M</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-N/">N</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-O/">O</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-P/">P</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-Q/">Q</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-R/">R</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-S/">S</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-T/">T</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-U/">U</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-V/">V</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-W/">W</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-X/">X</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-Y/">Y</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark" href="/series-starting-with-Z/">Z</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
