<div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="series" data-bs-toggle="dropdown" aria-expanded="false">Series</button>
      <ul class="dropdown-menu" aria-labelledby="series">
            <li><a class="dropdown-item" href="/series-starting-with-A/">A</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-B/">B</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-C/">C</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-D/">D</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-E/">E</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-F/">F</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-G/">G</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-H/">H</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-I/">I</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-J/">J</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-K/">K</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-L/">L</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-M/">M</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-N/">N</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-O/">O</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-P/">P</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-Q/">Q</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-R/">R</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-S/">S</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-T/">T</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-U/">U</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-V/">V</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-W/">W</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-X/">X</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-Y/">Y</a></li>
            <li><a class="dropdown-item" href="/series-starting-with-Z/">Z</a></li>
      </ul>
</div>
