{% extends 'base.html' %}
{% block content %}
    <div id="container">
    <h1>Series Book Totals</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Number of Books</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for series in series_book_totals %}
                <tr>
                    <td>{{ series.id }}</td>
                    <td>{{ series.title }}</td>
                    <td>{{ series.num_books }}</td>
                    <td><a target="_blank" href="http://localhost:8000/admin/dystopia/series/{{ series.id }}/change/">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
